body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    padding-top: 64px;
}

.map-card {
    flex: 6;                 /* Takes 6 parts of the available space */
}

#map {
    width: 100%;
    height: 500px;           /* Fixed height important */
    border-radius: 8px;      /* Round the map corners as well */
    z-index: 1;
}
