html,
body {
    padding-top: 60px;
}

.page-header {
    margin-bottom: 30px;
}

.map-card {
    flex: 6;
    /* Takes 6 parts of the available space */
}

.chart-card {
    flex: 4;
    /* Takes 4 parts of the available space */
    min-width: 300px;
    /* Prevents the chart from getting too squished */
}

#map {
    width: 100%;
    height: 500px;
    /* Fixed height important */
    border-radius: 8px;
    /* Round the map corners as well */
    z-index: 1;
}


@media (max-width: 1024px) {
    .dashboard-row {
        flex-direction: column;
    }

    .map-card,
    .chart-card {
        flex: auto;
        width: 100%;
    }

    #map {
        height: 400px;
    }
}